.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}
.footer
{
  text-align: center;
  background: linear-gradient(135deg, #1c333d, #337085, #52beec);
}