
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/ssc.png");
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;
}
.login-box {
  background: rgba(255, 255, 255, 0.88);
  /* backdrop-filter: blur(10px); */
  padding: 35px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.login-box h2 {
  margin: 0;
  text-align: center;
  font-weight: 600;
  color: var(--text);
}
.login-box input {
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}
.login-box input:focus {
  border-color: var(--accent-500);
  box-shadow: 0 0 6px rgba(255, 153, 0, 0.6);
}
.login-box button {
  padding: 12px;
  background: var(--accent-500);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: var(--accent-600);
  transform: scale(1.02);
}

.error {
  color: var(--danger-600);
  font-size: 13px;
  text-align: center;
}
.login-box p {
  font-size: 13px;
  text-align: center;
  color: var(--muted);
}
