.product-page {
  padding: 40px;
  background: #779f99;
  min-height: 100vh;
}

.back-btn {
  background-color: #ae0b0b;  
  color: white;
  border: none;               
  padding: 8px 16px;          
  border-radius: 4px;       
  font-size: 14px;            
  cursor: pointer;            
  transition: background 0.2s; 
}

.back-btn:hover {
  background-color: #c32929;   
}

.product-container {
  display: flex;
  gap: 40px;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.left-section {
  flex: 1;
  text-align: center;
}

.left-section img {
  width: 350px;
  height: 400px;
  object-fit: contain;
}


.center-section {
  flex: 2;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.rating {
  color: #f0c14b;
  margin-bottom: 10px;
}

.price {
  font-size: 26px;
  color: #b12704;
  margin: 15px 0;
}

.description {
  line-height: 1.6;
  color: #444;
  margin-bottom: 15px;
}

.category {
  margin-top: 10px;
}


.right-section {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.stock {
  color: green;
  margin-bottom: 15px;
}

.cart-btn {
  width: 100%;
  background: #ffd814;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.buy-btn {
  width: 100%;
  background: #ffa41c;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.cart-btn:hover {
  background: #f7ca00;
}

.buy-btn:hover {
  background: #fa8900;
}
.footer
{
  text-align: center;
  background: linear-gradient(135deg, #1c333d, #337085, #52beec);
}