.product-card {
  background: var(--surface);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 130px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  height: 38px;
  overflow: hidden;
}

.product-card p {
  font-size: 18px;
  font-weight: 600;
  color: var(--price);
}

.product-price {
  margin: 0;
}
